.btn {
    margin-right: 5px;
}
.markedAsDone {
    text-decoration: line-through;
    color: #777;
}
.tableActions {
    width: 125px;
}
.todoForm {
    padding-bottom: 30px;
}
.gray {
    background-color: rgba(190, 190, 190, 0.774);
}